:root {
  --orange: #ff9344;
  --purple: #4b3393;
  --white: white;
  --black: black;
}

body {
  color: #333;
  font-family: Mont, sans-serif;
  font-size: 16px;
  line-height: 1em;
}

h1 {
  color: #fff;
  letter-spacing: .015em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Mont, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 1em;
}

h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Mont, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
}

h3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1em;
}

p {
  margin-bottom: 0;
  font-family: Mont, sans-serif;
  font-size: 16px;
  line-height: 1em;
}

a {
  color: #fff;
  text-decoration: none;
}

.section {
  min-height: 100vh;
  background-image: linear-gradient(124deg, #1d0a2d, #0c0412);
  padding-top: 104px;
  padding-bottom: 104px;
}

.container {
  width: 100%;
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  align-items: stretch;
  margin: -28px;
  display: flex;
}

.col {
  width: 50%;
  padding: 28px;
}

.col.col--58 {
  width: 58%;
  min-width: 684px;
  flex-direction: column;
  display: flex;
}

.col.col--42 {
  width: 42%;
}

.portf-img-wrap {
  width: 320px;
  height: 320px;
  border-radius: 100%;
  flex: none;
  position: relative;
  overflow: hidden;
}

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.portf-info_h-wrap {
  background-color: var(--orange);
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  padding: 8px 48px 8px 120px;
  display: inline-block;
}

.portf-info_h-wrap.h-wrap--purple {
  background-color: var(--purple);
}

.portf-info-wrap {
  max-width: 366px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -104px;
  display: flex;
}

.portf-info_desc-wrap {
  margin-top: -56px;
  margin-left: 320px;
}

.portf-info_subh-wrap {
  align-items: center;
  margin-bottom: 16px;
  display: flex;
  position: relative;
}

.bullet {
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  left: 64px;
}

.bullet.bullet--orange {
  background-color: var(--orange);
  margin-right: 8px;
  position: static;
}

.h-caps {
  text-transform: uppercase;
}

.portf-info-list-item-wrap {
  align-items: center;
  padding: 6px;
  display: flex;
}

.portf-info-list-wrap {
  margin: -6px;
}

.link-list-wrap {
  margin: -16px;
}

.portf-link-block-wrap {
  padding: 16px;
}

.portf-link-list_h-wrap {
  margin-bottom: 16px;
}

.portf-link-wrap {
  background-image: linear-gradient(#440778, #6f2aa5 50%, #440778);
  border-radius: 4px;
  margin: 8px;
  padding: 1px;
}

.portf-link-list-wrap {
  flex-direction: column;
  margin: -8px;
  display: flex;
}

.portf-link-item_text {
  color: #fff;
  font-size: 20px;
  line-height: 1.1em;
}

.portf-link-item_icon {
  width: 24px;
  margin-right: 16px;
}

.portf-link-item_h {
  flex: 1;
  align-items: center;
  display: flex;
}

.portf-link-item-wrap {
  width: 100%;
  background-color: #160822;
  border-radius: 4px;
  justify-content: space-between;
  padding: 16px;
  display: flex;
}

.projects-link-block-wrap {
  padding: 16px;
}

.portf-info_name {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 1em;
}

.h-caps-wrap {
  margin-left: 12px;
}

.portf-wrap {
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 40px;
  }

  .section {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .row {
    max-width: 720px;
    flex-wrap: wrap;
    margin: -20px auto;
  }

  .col.col--58, .col.col--42 {
    width: 100%;
    padding: 20px;
  }

  .portf-img-wrap {
    width: 280px;
    height: 280px;
  }

  .portf-info_desc-wrap {
    margin-left: 280px;
  }

  .portf-info_name {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .section {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .col.col--58 {
    min-width: 0;
    flex-flow: wrap;
    align-items: flex-start;
    padding: 16px;
  }

  .col.col--42 {
    padding: 16px;
  }

  .portf-img-wrap {
    width: 128px;
    height: 128px;
  }

  .portf-info_h-wrap, .portf-info_h-wrap.h-wrap--purple {
    padding-right: 24px;
  }

  .portf-info_desc-wrap {
    min-width: 240px;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    margin-left: 0;
    display: flex;
  }

  .portf-info_subh-wrap {
    margin-bottom: 12px;
  }

  .bullet {
    left: 54px;
  }

  .portf-info-list-item-wrap {
    padding: 4px;
  }

  .portf-info-list-wrap {
    margin: -4px;
  }

  .portf-link-item_text {
    font-size: 16px;
  }

  .portf-info_name {
    font-size: 32px;
  }

  .portf-wrap {
    margin-right: 32px;
  }
}

@media screen and (max-width: 479px) {
  .row {
    margin: -16px;
  }

  .col.col--58 {
    padding: 16px;
  }

  .portf-info_h-wrap {
    padding-left: 40px;
    padding-right: 16px;
  }

  .portf-info_h-wrap.h-wrap--purple {
    padding-right: 16px;
  }

  .portf-info-wrap {
    margin-left: -32px;
  }

  .bullet {
    left: 50px;
  }

  .h-caps {
    font-size: 18px;
  }

  .portf-link-item_text {
    font-size: 16px;
  }
}


@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont-HeavyDEMO.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}